<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIP Server</title>
    <% for (var i = 0; i < dependencies.length; ++i) { %>
        <script src="<%= dependencies[i][2] %>" <%= dependencies[i].slice(3).join(' ') %> defer></script>
    <% } %>
</head>

<body>
    <script>
        window.__SERVER_DATA__ = <%= JSON.stringify(serverInfo) %>;
    </script>
    <noscript>This application requires javascript.</noscript>
    <div id="root"></div>
</body>

</html>